name: Zachetina

on:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      name: Checkout code

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Install dependencies
      run: npm install

    - name: Lint JavaScript
      run: npm run lint-js

    - name: Lint CSS
      run: npm run lint-css

    - name: Check if HTML exists
      run: |
        if [ ! -f index.html ]; then
          echo "index.html does not exist."
          exit 1
        fi